<div class="booyah-box">
  <h1>Good Luck!</h1>
  <br>
  <div class="chessboard">
    <div class="row row-1">
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
    </div>
    <div class="row row-2">
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
    </div>
    <div class="row row-3">
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
    </div>
    <div class="row row-4">
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
    </div>
    <div class="row row-5">
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
    </div>
    <div class="row row-6">
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
    </div>
    <div class="row row-7">
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
    </div>
    <div class="row row-8">
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="black"></div>
    </div>
  </div>
</div>